.row-content {
  padding: 50px 50px 0px 0px;
  margin: 0px auto auto auto;
  border-bottom: 1px ridge;
  min-height: 400px; }

.heades-1 {
  margin-top: 30px; }
  .heades-1 h1 strong {
    font-family: 'Chiller';
    font-size: 70px;
    font-weight: bolder; }
  .heades-1 h1 span p {
    font-family: 'Chiller' !important; }

.text-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.icoo-links {
  font-style: normal;
  text-transform: capitalize; }

.footer {
  background-color: #1E2022;
  padding: 20px 20px 0px 0px;
  margin: 0px auto auto auto;
  color: #C9D6DF; }
  .footer .container {
    margin-top: 5px; }
  .footer .footer-content {
    margin-bottom: 8vh !important; }
    .footer .footer-content .social-icon-color a {
      color: #F0F5F9 !important; }
  .footer .logo-links {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: #C9D6DF;
    margin-bottom: 10vh !important;
    display: block;
    margin-top: 5vh !important; }
  .footer .logo-links:hover {
    color: #C9D6DF;
    text-decoration-line: none;
    -webkit-transition: all 1.0s;
    -o-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s; }
  .footer .copyright-content {
    width: 100%;
    text-align: center; }

.jumbotron {
  min-height: 98vh;
  color: floralwhite; }

.jumbotron-img-1 {
  background-image: url("../img/icoo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.jumbotron-img-2 {
  background-image: url("../img/jumbo2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.jumbotron-img-3 {
  background-image: url("../img/landing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.jumbotron-img-4 {
  background-image: url("../img/jumbo3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header-size p {
  font-size: 50px; }

@media all and (orientation: portrait) {
  .header-size p {
    font-size: 30px !important; } }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.navbar-dark {
  background-color: rgba(30, 32, 34, 0.428) !important;
  color: #C9D6DF; }
  .navbar-dark .container-fluid .logo-links {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    padding-right: 20px;
    color: #C9D6DF; }
  .navbar-dark .container-fluid .logo-links:hover {
    color: #C9D6DF;
    -webkit-transition: all 1.0s;
    -o-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s; }

.carousel-item .row .col-3 img:hover {
  transform: scale(2, 2); }

.navbar-dark.scrolled {
  background-color: #1E2022 !important;
  transition: background-color 2000ms linear; }

.btn-pale {
  background: #C9D6DF;
  color: #52616B !important; }

.btn-pale:hover, .btn-pale:focus {
  color: #F0F5F9 !important;
  background: #52616B;
  background: -webkit-linear-gradient(left, #52616B, #C9D6DF);
  background: -o-linear-gradient(left, #52616B, #C9D6DF);
  background: -moz-linear-gradient(left, #52616B, #C9D6DF);
  background: linear-gradient(left, #52616B, #C9D6DF);
  opacity: 0.8;
  -webkit-transition: all 1.0s;
  -o-transition: all 1.0s;
  -moz-transition: all 1.0s;
  transition: all 1.0s; }

.btn-dark-b {
  background: #1E2022; }

.btn-dark-b:hover, .btn-dark-b:focus {
  background: #52616B;
  -webkit-transition: all 1.0s;
  -o-transition: all 1.0s;
  -moz-transition: all 1.0s;
  transition: all 1.0s; }

.color-me {
  color: #C9D6DF !important; }

.color-me:hover {
  color: #52616B !important;
  -webkit-transition: all 1.0s;
  -o-transition: all 1.0s;
  -moz-transition: all 1.0s;
  transition: all 1.0s; }

.good {
  display: -ms-inlinebox;
  display: inline;
  list-style: none; }
  .good li .focus {
    color: #C9D6DF !important; }

.navbar-bottom {
  margin-bottom: -15px !important; }

.navbar-text {
  list-style: none; }

.navbar-bottom .good .nav-link {
  color: rgba(255, 255, 255, 0.5); }

.navbar-bottom .good .nav-link:hover, .navbar-bottom .good .nav-link:focus {
  color: rgba(255, 255, 255, 0.75); }

.change-dark {
  display: block;
  border: 1px solid floralwhite;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #1E2022; }

.change-dark:hover, .change-dark:focus {
  border: 3px solid #52616B; }

.change-light {
  display: block;
  border: 1px solid #1E2022;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #C9D6DF; }

.change-light:hover, .change-light:focus {
  border: 3px solid #52616B; }

.link-style {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .link-style li a {
    font-size: 10px;
    font-weight: bold;
    color: #52616B !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-transform: capitalize; }
  .link-style li a:hover {
    color: #F0F5F9 !important;
    font-weight: bolder; }

.no-icons-txt {
  font-weight: bolder;
  font-style: italic;
  font-size: 40px;
  text-transform: uppercase;
  color: #52616B;
  margin-top: 60px;
  padding-bottom: 10px; }

.no-icons-sum {
  color: #52616B;
  font-style: italic; }

.no-icons-card-cover {
  margin-top: 80px; }
  .no-icons-card-cover .no-icons-card-label-1 {
    color: #52616B;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder; }
    .no-icons-card-cover .no-icons-card-label-1 strong {
      padding-bottom: 5px !important; }
  .no-icons-card-cover .no-icons-card-label-2 {
    color: #52616B;
    float: right;
    font-style: italic;
    padding: 0px; }
  .no-icons-card-cover .no-icons-car-space {
    margin-bottom: 10vh; }
  .no-icons-card-cover .no-icon-dark {
    background-color: #1E2022; }
  .no-icons-card-cover .no-icon-btn {
    height: 70px;
    font-style: italic;
    font-weight: bolder;
    padding-top: 25px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #52616B;
    background-color: #C9D6DF;
    border-radius: 10px;
    margin-bottom: 10vh; }
  .no-icons-card-cover .no-icon-btn:hover, .no-icons-card-cover .no-icon-btn:focus {
    color: #C9D6DF;
    background-color: #52616B;
    -webkit-transition: all 1.0s;
    -o-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s; }
  .no-icons-card-cover .comment-img {
    float: right;
    margin: -70px -16.5px -16px 0px; }
  .no-icons-card-cover .comment-body p {
    font-size: 20px;
    font-style: oblique;
    font-weight: 900;
    padding-bottom: 20vh;
    padding-top: 50px; }
  .no-icons-card-cover .comment-name {
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 15px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important; }

.weight-card-cover {
  margin-top: 80px; }
  .weight-card-cover .weight-label-1 {
    color: #52616B;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder; }
    .weight-card-cover .weight-label-1 strong {
      padding-bottom: 5px !important; }
  .weight-card-cover .weight-label-2 {
    color: #52616B;
    font-style: italic;
    padding: 0px; }
  .weight-card-cover .weight-space {
    margin-bottom: 10vh; }
  .weight-card-cover .weight-dark {
    background-color: #1E2022; }
  .weight-card-cover .weight-btn {
    height: 70px;
    font-style: italic;
    font-weight: bolder;
    padding-top: 25px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #52616B;
    background-color: #C9D6DF;
    border-radius: 10px;
    margin-bottom: 10vh; }
  .weight-card-cover .weight-btn:hover, .weight-card-cover .weight-btn:focus {
    color: #C9D6DF;
    background-color: #52616B;
    -webkit-transition: all 1.0s;
    -o-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s; }
  .weight-card-cover .weight-comment-img {
    float: right;
    margin: -70px -16.5px -16px 0px; }
  .weight-card-cover .weight-comment-body p {
    font-size: 20px;
    font-style: oblique;
    font-weight: 900;
    padding-bottom: 20vh;
    padding-top: 50px; }
  .weight-card-cover .weight-comment-name {
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 15px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important; }
